@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Batang:wght@400;700&display=swap");

* {
  font-family: "Gowun Batang", serif;
  margin: 0px;
  padding: 0px;
}

/* main.html */
.mi-bg-container {
  min-height: calc(100vh - 80px);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./media/main/benedict.jpg") no-repeat center;
  background-size: cover;
}
.mi-nav {
  background-color: transparent;
  padding: 20px 40px;
  font-weight: bold;
  display: flex;
}
.mi-nav a {
  text-decoration: none;
  color: white;
}
.mi-nav-title {
  display: flex;
  align-items: center;
}
.mi-logo-box {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 10px;
}
.mi-logo-box img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.mi-logo-title {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.5em;
}
.mi-nav-list {
  width: 75%;
}
.mi-nav-list > ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mi-nav-list li {
  text-align: center;
  padding: 0px 40px;
}
.mi-login-box {
  float: right;
}
.mi-login-btn {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  padding: 10px 20px;
}
.mi-s1-box {
  margin-top: 100px;
  margin-left: 70px;
  color: white;
  line-height: 1.6;
}
.mi-s1-title {
  font-size: 2.5em;
  font-weight: bolder;
  margin-bottom: 10px;
}
.mi-s1-vote {
  font-weight: bold;
  margin-bottom: 10px;
}
.mi-s1-desc {
  margin-bottom: 15px;
}
.mi-s1-movie {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #be123c;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
}
.mi-s2-container {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0px;
}
.mi-s2-title {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 20px;
}
.mi-s2-box {
  display: flex;
  justify-content: center;
}
.mi-s2-card {
  padding: 0px 20px;
}
.mi-s2-box img {
  width: 300px;
  height: 400px;
}
.mi-img {
  border-radius: 10px;
  transition: all 0.2s linear;
}
.mi-img:hover {
  transform: scale(1.1);
}
.mi-s2-card-title {
  font-size: 18px;
  font-weight: bolder;
  margin: 10px 0px;
}
footer {
  background-color: #eee;
  justify-content: center;
  text-align: center;
  padding: 50px 100px;
}
.mi-ft-up {
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 10px;
}
.mi-ft-text {
  padding: 0px 20px;
}
