@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Batang:wght@400;700&display=swap");

* {
  font-family: "Gowun Batang", serif;
  margin: 0px;
  padding: 0px;
}

/* main.html */
