@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Batang:wght@400;700&display=swap");

* {
  font-family: "Gowun Batang", serif;
  margin: 0px;
  padding: 0px;
}

/* book.html */
.bk-container {
  min-height: calc(100vh - 80px);
  padding: 50px 100px;
}
.bk-title > h3 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.bk-select-container {
  width: 100%;
  display: flex;
}
.bk-left-container {
  width: 700px;
  padding: 20px 30px;
  border: 1px solid black;
  margin-right: 50px;
}
.bk-date-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.bk-date-box {
  text-align: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 15px;
  margin: 0px 15px;
}
.bk-location {
  padding: 15px 5px;
}
.bk-time-container {
  margin-top: 30px;
}
.bk-movie-select {
  text-align: right;
}
#bk-select-option {
  width: 300px;
  padding: 10px;
  font-weight: bold;
}
.bk-movie-box {
  margin-top: 30px;
}
.bk-right-container {
  min-width: 400px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 10px;
}
.clicked {
  background-color: #c4c4c4;
}
