@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Batang:wght@400;700&display=swap");

* {
  font-family: "Gowun Batang", serif;
  margin: 0px;
  padding: 0px;
}

/* book.html */
.bk-container {
  min-height: calc(100vh - 80px);
  padding: 50px 100px;
}
.bk-title > h3 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.bk-select-container {
  width: 100%;
  display: flex;
}
.bk-left-container {
  width: 700px;
  padding: 20px 30px;
  border: 1px solid black;
  margin-right: 50px;
}
.bk-date-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.bk-date-box {
  text-align: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 15px;
  margin: 0px 15px;
  cursor: pointer;
}
.clicked {
  background-color: #c4c4c4;
}
.bk-location {
  padding: 15px 5px;
}
.bk-time-container {
  margin-top: 30px;
}
.bk-movie-select {
  text-align: right;
}
#bk-select-option {
  width: 300px;
  padding: 10px;
  font-weight: bold;
}
.bk-movie-box {
  margin-top: 30px;
  margin-bottom: 50px;
}
.bk-movie-title {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 10px;
}
.bk-movie-n {
  font-size: 1.5em;
  font-family: "Do Hyeon", sans-serif;
  color: #c4c4c4;
  margin-bottom: 20px;
}
.bk-time-box {
  display: flex;
}
.bk-time-option {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 15px;
  margin: 0px 10px;
  text-align: center;
  cursor: pointer;
}
.time-clicked {
  color: white;
  font-weight: bold;
  background-color: black;
}
.bk-right-container {
  min-width: 400px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 30px;
}
#bk-right-img {
  text-align: center;
  margin-bottom: 10px;
}
#bk-right-img > img {
  min-width: 350px;
  height: 400px;
}
#bk-right-title {
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: 5px;
}
#bk-right-desc {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.bk-right-btn {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #be123c;
  border: transparent;
  border-radius: 6px;
  padding: 10px 150px;
  cursor: pointer;
}

/* book_seat.html */
table {
  margin: 30px auto;
  border-spacing: 10px;
  border-collapse: separate;
}
td {
  background-color: #c4c4c4;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}
.booked {
  color: white;
  background-color: #be123c;
}
.seat-clicked {
  color: white;
  font-weight: bold;
  background-color: black;
}
.bk-text {
  width: 100%;
  background-color: #be123c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0px;
}
.bk-info-box {
  display: flex;
  padding: 30px 50px;
}
.bk-info-small {
  width: calc(100vw / 4);
}
.bk-info-title {
  font-size: 18px;
}
.bk-info-desc {
  font-size: 2em;
  font-weight: bolder;
}
.bk-info-small > a > button {
  float: right;
  height: 100%;
  padding: 30px;
  border: transparent;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* book_check.html */
.bk-check-body {
  height: 100%;
}
.bk-check-container {
  height: 100%;
  padding: 50px 100px;
}
.bk-info-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.bk-info-content {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.bk-info-third {
  display: flex;
}
.bk-info-right {
  padding-left: 150px;
}
.bk-pay-box {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.bk-pay-box > .bk-info-content {
  margin-left: auto;
}
.bk-how-box {
  margin: 10px;
}
.bk-pay-how {
  padding: 50px 0px;
}
.mt {
  margin-top: 20px;
}
.bk-check-btn {
  text-align: center;
}
